.container {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 50%;
}

.red {
    width: 33%;
    height: 100px;
    background-color: red;
}

.green {
    width: 33%;
    height: 100px;
    background-color: green;
}

.blue {
    width: 33%;
    height: 100px;
    background-color: blue;
}

.link {
    display: block;
    margin-left: 10px;
    justify-content: center;
}